<!DOCTYPE html>
<html lang="en">
<head>
   

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin | Nodejs</title>
    



   
    <style type="text/css">
  
    
    .dot {
        width: 20px;
        height: 20px;
        background-color: rgb(22, 220, 78);
        border-radius: 50%;
        position: absolute;
        pointer-events: none; /* This makes the dot non-interactable */
    }
   </style> 
</head>
<body>
    <div class="dot" id="dot"></div>
    <script src="../../admin/scripts/listing/mouse.js"></script>
</body>
</html>
